.answer{
  width: 100vw;
  height: 100vh;
  background:
  linear-gradient(135deg, ivory 21px, #708090 22px, #708090 24px, transparent 24px, transparent 67px, #708090 67px, #708090 69px, transparent 69px),
  linear-gradient(225deg, ivory 21px, #708090 22px, #708090 24px, transparent 24px, transparent 67px, #708090 67px, #708090 69px, transparent 69px)0 64px;
  background-color:ivory;
  background-size: 64px 128px;
  display: flex;
  &__side_bar{
    width: 350px;
    height: 350px;
    padding: 20px;
    &__image{
      width:350px;
      height:350px;
    }
  }
  &__main{
    width: calc(100% - 460px);
    height: calc(100% - 40px);
    padding: 20px;
    &__text{
      width: calc(100% - 40px);
      margin-top: 20px;
      &--title{
        font-size: 40px;
        width:100%;
        height: 180px;
        display: table-cell;
        vertical-align: middle;
        background-color: rgba($color: ivory, $alpha: .8);
        padding: 0 20px;
      }
      &--back{
        margin-top: 10px;
        color: black;
        text-align: right;
        font-size: 30px;
        &:hover{
          color: purple;
        }
        & p{
          margin-right: 20px;
        }
      }
    }
    &__answers{
      width: calc(100% - 40px);
      height: calc( 100vh - 300px);
      padding: 20px;
      overflow: scroll;
      &__an_answer{
        width: calc( 100%- 40px);
        background-color: rgba($color: ivory, $alpha: .8);
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        &--text{
          width: calc(100% - 150px);
          font-size: 30px;
          margin-left: 20px;
          word-wrap:break-word;
        }
        &--btn{}
        &--user_name{
          width: 100px;
          margin-right: 20px;
        }
      }
    }
    &__form{
      position: absolute;
      bottom: 0;
      height:80px;
      width: calc(100% - 430px);
      padding: 10px;
      &--text{
        height: 50px;
        width: 80%;
        padding-left: 30px;
      }
      &--submit{
        border-style: solid 1px black;
        border-radius: 3px;
        width:60px;
        height: 40px;
        font-size: 20px;
        background-color: aqua;
      }
    }
  }
}